trigger:
  paths:
    exclude:
      - infra/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  webAppName: 'webapp-devops-todo-93417'

stages:
- stage: Build
  displayName: 'Build App'
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      displayName: 'Install Node.js'
      inputs:
        versionSpec: '20.x'
    - script: |
        export DATABASE_URL=$(database_url)
        export POSTGRES_URL=$(database_url)
        npm ci
        npm run build
      workingDirectory: '$(System.DefaultWorkingDirectory)/src'
      displayName: 'npm install & build'
    - task: ArchiveFiles@2
      displayName: 'Archive files'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/src'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true
    - task: PublishPipelineArtifact@1
      displayName: 'Publish artifact'
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        artifact: 'drop'
        publishLocation: 'pipeline'

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: Deploy
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'drop'
              targetPath: '$(Pipeline.Workspace)/drop'
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'neon-serviceConnection'
              appType: 'webAppLinux'
              appName: '$(webAppName)'
              package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'


